.page-work-single {
  h1.title {
    font-size: 3rem;
    font-family: $font-family-heading;
    color: $primary;
  }
  .work-image {
    img {
      width: 100%;
      height: auto;
    }
  }
  .content {
    > p {
      &:first-of-type {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 40px;
        font-weight: 300;
      }
    }
  }
  .masonry {
    /* Masonry container */
    column-count: 3;
    column-gap: 1em;
  }
  .item {
    /* Masonry bricks or child elements */
    background-color: #eee;
    margin: 0 0 1em;
  }
}

.comp-info {
  border-style: solid;
  border-width: 1px;
  // background-color: #e9ecef;
  // border-radius: 1em;
  padding: 10%;
  padding-top: 5%;

  .logo-comp {
    position: relative;
    min-width: 70%;
    // max-height: 200px;
    max-width: 100%;
    margin: auto;
    margin-bottom: 1em;
    img {
      max-width: 100%;
    }
  }
  .comp-info-unit {
    padding-bottom: 1em;
    a {
      hyphens: auto;
      display: inline;
    }
    img {
      width: 7%;
      margin-right: 1em;
      // margin: 1em;
      // margin-bottom: 0.5em;
    }

  }
}
