.work-summary-thumb {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
  .work-image-thumb {
    padding: 20px;
    display: flex;
    height: 100px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    img {
      max-height: 100px;
      max-width: 100%;
    }
  }
}
